@keyframes spinner {
  25% {
    content: "-";
  }
  50% {
    content: "\\";
  }
  75% {
    content: "|";
  }
}

::selection {
  background: white;
  color: gray
}

* {
  color: white;
  font-weight: bold;
  font-family: monospace;
}

body {
  background-color: black;
  overflow: hidden;
  margin: 0px;
}

#login-form {
  margin-top: 10em;
}

#game-title {
  text-align: center;
  font-size: 7em;
}

#player-name-container {
  margin: auto;
  max-width: 47em;
}

#player-name {
  font-size: 4em;
  text-align: center;
  background-color: #00000000;
  border-width: 0;
  box-shadow: 0 0 0px 2px white;
  transition: background-color 0.5s ease;
}

#player-name:hover {
  background-color: #80808080;
}

#player-name:focus {
  outline:0;
}

#waiting-screen {
  text-align: center;
  margin-top: 10em;
}

#spinner {
  font-size: 20em;
}

#spinner::after {
  content: "/";
  animation: spinner 2s linear infinite;
}

.score-board {
  position: absolute;
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2em;
}

.score-board__item {
  margin-left: 1em;
  margin-right: 1em;
}

.score-board__item--left {
  text-align: left;
}

.score-board__item--right {
  text-align: right;
}

canvas {
  position: absolute;
}
