@keyframes spinner {
  25% {
    content: "-";
  }
  50% {
    content: "\\";
  }
  75% {
    content: "|";
  }
}

::selection {
  background: white;
  color: gray
}

* {
  color: white;
  font-weight: bold;
  font-family: monospace;
}

body {
  background-color: black
}

#login-form {
  display: none;
  margin-top: 10em;
}

#game-title {
  text-align: center;
  font-size: 7em;
}

#player-name-container {
  margin: auto;
  max-width: 47em;
}

#player-name {
  font-size: 4em;
  text-align: center;
  background-color: #00000000;
  border-width: 0;
  box-shadow: 0 0 0px 2px white;
  transition: background-color 0.5s ease;
}

#player-name:hover {
  background-color: #80808080;
}

#player-name:focus {
  outline:0;
}

#waiting-screen {
  display: none;
  text-align: center;
  margin-top: 10em;
}

#spinner {
  font-size: 20em;
}

#spinner::after {
  content: "/";
  animation: spinner 2s linear infinite;
}
